{% extends 'admin/layouts/master.html' %} {% block body %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/admin/dashboard">Admin</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/admin/tags">Thẻ</a>
  </li>
  <li class="breadcrumb-item active">
    {% if id == None %} Thêm {% else %} Sửa {% endif %}
  </li>
</ol>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Thông tin thẻ
  </div>
  <div class="card-body">
    <form method="POST" data-parsley-validate class="form form-validate">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Tên thẻ</label>
            <input
              minlength="6"
              maxlength="30"
              data-parsley-required
              autocomplete="off"
              value="{{ tag.name }}"
              name="name"
              type="text"
              id="name"
              class="form-control"
              autofocus="autofocus"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-light">
        {% if id == None %} Thêm {% else %} Sửa {% endif %}
      </button>
    </form>
  </div>
  <div class="card-footer small text-muted">
    {% if id == None %} Thêm mới thẻ {% else %} Chỉnh sửa lúc
    <script type="text/javascript">
      writeTimeFormat("{{ tag.updated_at|escapejs }}");
    </script>
    {% endif %}
  </div>
</div>
{% endblock %}
