{% extends 'public/layouts/master.html' %} {% block body %}
<div class="post-content">
  <div class="news-group-title news-category-title">
    {{ post.category.name }}
  </div>
  <h1 class="post-title">{{ post.title }}</h1>
  <div class="news-item post-time">
    <p>
      <i class="fa-regular fa-clock" aria-hidden="true"></i>
      <script type="text/javascript">
        writeTimeFormat("{{ post.created_at|escapejs }}");
      </script>
      <a href="/{{ post.category.slug }}">{{ post.category.name }}</a>
    </p>
  </div>
  <strong class="post-description">{{ post.description }}</strong>
  <div>{{ post.content|safe }}</div>
</div>
{% endblock %}
