{% load static %}
<div class="top-header">
  <div class="top-header-inner">
    <a href="/">
      <img src="{% static 'public/img/home_icon.jpeg' %} " />
    </a>

    <div class="right">
      <form
        method="GET"
        action="/tim-kiem"
        class="form-group mb-0 d-inline-block search-news"
      >
        <input
          name="q"
          autocomplete="off"
          placeholder="Tìm bài viết..."
          type="text"
          class="form-control"
          name="username_email"
          id="username_email"
        />
      </form>
      {% if auth_authenticated %}
      <a class="profile-link" href="/trang-ca-nhan"> 
        <img src={{ auth_avatar }} />
        <span>
          {{ auth_full_name }} 
        <span>
      </a>
      <a href="/dang-xuat"> Đăng xuất </a>
      {% else %}
      <a href="/dang-nhap"> Đăng nhập </a>
      <a href="/dang-ky"> Đăng ký </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="header">
  <div class="menus">
    <ul>
      <li>
        <a href="/"><i class="fa fa-house"></i></a>
      </li>
      {% for c in categories %}
      <li>
        <a href="/{{ c.slug }}">{{ c.name }}</a>
        <ul class="submenu">
          {% for sub in c.children %}
          <li><a href="/{{ sub.slug }}">{{ sub.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="sub-header">
  <div class="current-time"><span style="visibility: hidden">Vi</span></div>
</div>
