{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'public/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'admin/css/parsley.css' %}" />
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <title>An toàn thông tin</title>
    <script type="text/javascript">
      function writeTimeFormat(dateString) {
        const time = moment(new Date(dateString)).format('HH:00 | D/MM/YYYY');
        document.write(time);
      }
    </script>
  </head>
  <body>
    {% include 'public/layouts/header.html' %}
    <div class="content">
      <div class="row m-0">
      {% block body %}{% endblock %}
      </div>
    </div>

    {% include 'public/layouts/footer.html' %}
    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'admin/js/parsley.min.js' %}"></script>
    <script src="{% static 'admin/js/vi.locale.js' %}"></script>
    <script src="{% static 'admin/js/script.js' %}"></script>
    <script>
      $(document).ready(function () {
        // Upload profile avatar
        $('.profile-avatar img.avatar').on('click', function() {
          $('.profile-avatar input.file-avatar').trigger('click');
        });

        $('.profile-avatar input.file-avatar').on('change', function() {
          const [file] = $(this).prop('files');
          if (!file) return;

          $('.profile-avatar img.avatar').attr('src', URL.createObjectURL(file));
          $('.btn-update-avatar').removeClass('d-none');
        })
        $('.btn-update-avatar').on('click', function() {
          const [file] = $('.profile-avatar input.file-avatar').prop('files');
          function done(res) {
            $('.profile-avatar').before('<div class="text-success">Cập nhật avatar thành công</div>');
            $('.btn-update-avatar').addClass('d-none');
            $('.profile-link img').prop('src', res.url);
            $('.profile-avatar img').prop('src', res.url);
          }
          function failure(jqXHR, textStatus, errorThrown) {}
          const formData = new FormData();
          formData.append("file", file);

          const url = `/me/update-avatar`;
          const csrf_token = '{{ csrf_token }}';
          $.ajaxSetup({
            headers: { 'X-CSRFToken': csrf_token }
          });
          const options = {
            method: 'POST',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            url,
          };
          $.ajax(options).done(done).fail(failure);
        })
      });
    </script>
  </body>
</html>
