{% extends 'public/layouts/master_user.html' %} {% block body %}
<style>
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;position: sticky;
  }
  .content {
    height: calc(100% - 182px);
  }
</style>
<div class="col-12 mt-3 d-flex justify-content-center">
  <form method="POST" action="" style="width: 300px">
    {% csrf_token %}
    {% for message in messages %}
    <div class="text-{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    <div class="form-group profile-avatar">
      <img class="avatar rounded-circle" src="{{ auth_avatar }}" />
      <input class="file-avatar d-none" type="file" accept="image/*" />
      <button type="button" class="btn-update-avatar btn ml-2 d-none">Lưu</button>
    </div>
    <div class="form-group">
      <label for="username_email">Tên đăng nhập</label>
      <input disabled type="text" class="form-control" value="{{ user.email }}">
    </div>
    <div class="form-group">
      <label for="full_name">Họ tên</label>
      <input placeholder="Họ tên" type="full_name" class="form-control" name="full_name" id="full_name" value="{{ user.full_name|default:'' }}">
    </div>
    <div class="form-group">
      <a class="btn-forgot-password" href="/doi-mat-khau">Đổi mật khẩu</a>
    </div>
    <button type="submit" class="btn-login btn btn-light">Cập nhật</button>
  </form>
</div>
{% endblock %}
