html,
body {
  height: 100%;
  font-size: 12px;
  color: #333;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif, Helvetica;
  margin: 0px auto !important;
}
/* Reset */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Header */
.top-header {
  background-color: #86bff7;
}
.top-header-inner {
  max-width: 1075px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header-inner a {
  margin-right: 8px;
  color: #333;
}
.top-header-inner img {
  width: 52px;
  display: block;
  padding: 4px 0;
}
.header {
  position: sticky;
  z-index: 1000;
  top: 0  ;
  background: #ed7e01 url('../img/bg_menu.jpeg') repeat-x;
  box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.menus i {
  font-size: 15px;
  display: inline-block;
  padding: 0 5px;
}
.menus {
  max-width: 1075px;
  margin: auto;
}
.menus > ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.menus > ul > li:hover a {
  color: #333;
}
.menus > ul > li:hover {
  background-color: #fff;
  color: #333;
}
.menus > ul > li:hover > .submenu {
  display: block;
  opacity: 1;
}
.menus ul li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menus ul li a {
  text-decoration: none;
  padding: 0 9px;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  display: block;
}
.menus > ul > li > a {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.submenu {
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 4px 4px 1px rgb(0 0 0 / 30%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.menus > ul > li:last-child .submenu {
  right: 0;
}
.menus ul.submenu li a:first-child {
  border-top: 0px solid rgba(255, 255, 255, 0.8);
}
.menus ul.submenu li a {
  border-bottom: 1px solid #e1e1e1;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 0 16px;
}
/* Content */
/* Main slide */
.content {
  max-width: 1075px;
  margin: auto;
  background-color: #fff;
  padding: 12px 6px 6px 6px;
}

#main-slide .carousel-item a {
  display: block;
  width: 100%;
  height: 310px;
  overflow: hidden;
  position: relative;
}
#main-slide .carousel-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-slide .carousel-item a h2 {
  padding: 0 46px;
  bottom: 42px;
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
  width: 100%;
}

#main-slide .carousel-control-prev,
#main-slide .carousel-control-next {
  width: 46px !important;
}

#main-slide .carousel-indicators li {
  width: 16px;
}
/* Interested Slide */
.news-item {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 10px;
}
.news-item i {
  margin-right: 1px;
  font-size: 11px;
}
.news-item:first-child {
  margin-top: 0;
}
.news-item:last-child {
  border: none;
}
.news-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.news-item a:hover {
  text-decoration: none;
}
.news-item a:hover  h2 {
  color: #ed7e01;
}
.news-item > a {
  text-decoration: none;
  margin-top: 3px;
}
.news-item a h2 {
  transition: 0.1s;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  margin-bottom: 4px;
}
.news-item p {
  color: #888 !important;
    margin-bottom: 5px;
}
.news-item a.news-category {
  margin-left: 3px;
}
.news-group-title {
  font-size: 16px;
  color: #cc0000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px 0px 8px 0px;
}
/* News List */
.news-list {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin-top: 4px;
}
.news-list .news-item {
  margin-top: 0;
  border: none;
  width: calc(calc(100% - 16px) / 3);
}

.news-list .news-item {
  display: flex;
  flex-direction: column;
}
.news-list .news-item img {
  width: 100%;
  height: 88px;
  object-fit: cover;
}
.news-list .news-item p a {
  margin: 0;
}

/* Footer */
.footer {
  width: 100%;
  height: 80px;
  margin: auto;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Category */
.news-category-title {
  font-size: 22px;
}
/* Category news list */
.category-news-list .news-item {
  padding-bottom: 10px;
}
.category-news-list .news-item img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.category-news-list .news-item h2 {
  font-size: 20px;
  font-weight: 600;
}
.category-news-list .news-item > a {
  margin-top: 0;
}
.category-news-list:not(.search-news-list) .news-item:first-child p {
  color: #333 !important;
  font-size: 16px;
}
.category-news-list:not(.search-news-list) .news-item:first-child {
  flex-direction: column;
}
.category-news-list:not(.search-news-list) .news-item:first-child img {
  width: 100%;
  height: 310px;
}
.post-content {
  width: 70.83%;
  overflow: hidden;
  padding: 12px;
}
.post-content img {
  max-width: 100%;
}
.post-title {
  font-weight: bold;
  font-size: 22px;
}
.post-time {
  border: none;
  margin-bottom: 12px;
}
.post-description {
  font-size: 15px;
  padding-bottom: 16px;
  display: block;
}

.post-content p {
  font-size: 14px;
}
/* Login */
.btn-login {
  background: #ed7e01 url('../img/bg_menu.jpeg') repeat-x;
}
.btn-forgot-password {
  color: #333;
  text-decoration: underline;
}
.search-news {
  width: 250px;
}
.comments h6 {
  font-weight: bold;
}
.comments p {
  font-size: 13px;
}